<h1>Editing favorite food</h1>

<%= render "form", favorite_food: @favorite_food %>

<br>

<div>
  <%= link_to "Show this favorite food", @favorite_food %> |
  <%= link_to "Back to favorite foods", favorite_foods_path %>
</div>
